
*/.svn/*

effsize/.RData

effsize/.Rhistory

effsize/.Rcheck

effsize/.svn/*

effsize/man/.svn/*

effsize/R/.svn/*

effsize/R/.Rapp.history

effsize/.Rproj.user/*

effsize/paper/*

effsize/vignettes_draft/*

effsize/*.RData

.Rproj.user
